@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-display: "Kaisei Decol", serif;
  --default-font-family: "Montserrat", sans-serif;
  --font-sans: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
