@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-display: "Kaisei Decol", serif;
  --default-font-family: "Montserrat", sans-serif;
  --font-sans: "Montserrat";

  --color-light-100: white;
  --color-light-200: #ebebeb;
  --color-dark-800: #2f2b2d;
  --color-dark-900: #1f1d1e;
  --color-brand-100: #fbf8f5;
  --color-brand-200: #f8f2eb;
  --color-brand-300: color-mix(in srgb, var(--color-brand-500), white 40%);
  --color-brand-400: color-mix(in srgb, var(--color-brand-500), white 20%);
  --color-brand-500: #aa9774;
  --color-brand-600: color-mix(in srgb, var(--color-brand-500), black 20%);
  --color-brand-700: color-mix(in srgb, var(--color-brand-500), black 40%);
  --color-brand-900: color-mix(in srgb, var(--color-brand-500), black 80%);
  --color-brand-800: color-mix(in srgb, var(--color-brand-500), black 60%);
  --color-blue-100: color-mix(in srgb, var(--color-blue-500), white 80%);
  --color-blue-200: color-mix(in srgb, var(--color-blue-500), white 60%);
  --color-blue-300: color-mix(in srgb, var(--color-blue-500), white 40%);
  --color-blue-400: color-mix(in srgb, var(--color-blue-500), white 20%);
  --color-blue-500: #0d509f;
  --color-blue-600: color-mix(in srgb, var(--color-blue-500), black 20%);
  --color-blue-700: color-mix(in srgb, var(--color-blue-500), black 40%);
  --color-blue-800: color-mix(in srgb, var(--color-blue-500), black 60%);
  --color-blue-900: color-mix(in srgb, var(--color-blue-500), black 80%);

  --site--gutter: clamp(
    1 * 1rem,
    (
      (
          1 -
            (
              (2 - 1) / (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((2 - 1) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    2 * 1rem
  );
  --site--column-count: 12;
  --site--column-width: calc(
    (
        min(var(--max-width--main), 100% - var(--site--margin) * 2) -
          (var(--site--gutter) * (var(--site--column-count) - 1))
      ) / var(--site--column-count)
  );
  --site--margin: clamp(
    1 * 1rem,
    (
      (
          1 -
            (
              (3 - 1) / (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((3 - 1) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    3 * 1rem
  );
  --site--viewport-max: 90;
  --site--viewport-min: 20;
  --text-sm: clamp(
    0.875 * 1rem,
    (
      (
          0.875 -
            (
              (1 - 0.875) /
                (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((1 - 0.875) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    1 * 1rem
  );
  --text-md: clamp(
    1 * 1rem,
    (
      (
          1 -
            (
              (1.125 - 1) /
                (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((1.125 - 1) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    1.125 * 1rem
  );
  --text-lg: clamp(
    1.125 * 1rem,
    (
      (
          1.125 -
            (
              (1.25 - 1.125) /
                (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        (
          (1.25 - 1.125) /
            (var(--site--viewport-max) - var(--site--viewport-min))
        ) * 100vw
    ),
    1.25 * 1rem
  );
  --text-xl: clamp(
    1 * 1rem,
    (
      (
          1 -
            (
              (1.125 - 1) /
                (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((1.125 - 1) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    1.125 * 1rem
  );
  --text-2xl: clamp(
    1.375 * 1rem,
    (
      (
          1.375 -
            (
              (1.5 - 1.375) /
                (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        (
          (1.5 - 1.375) /
            (var(--site--viewport-max) - var(--site--viewport-min))
        ) * 100vw
    ),
    1.5 * 1rem
  );
  --text-3xl: clamp(
    1.75 * 1rem,
    (
      (
          1.75 -
            (
              (2 - 1.75) /
                (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((2 - 1.75) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    2 * 1rem
  );
  --text-4xl: clamp(
    2.25 * 1rem,
    (
      (
          2.25 -
            (
              (3 - 2.25) /
                (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((3 - 2.25) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    3 * 1rem
  );
  --text-5xl: clamp(
    2.5 * 1rem,
    (
      (
          2.5 -
            (
              (4 - 2.5) /
                (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((4 - 2.5) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    4 * 1rem
  );
  --text-6xl: clamp(
    3 * 1rem,
    (
      (
          3 -
            (
              (5 - 3) / (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((5 - 3) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    5 * 1rem
  );
  --text-display: clamp(
    4 * 1rem,
    (
      (
          4 -
            (
              (7 - 4) / (var(--site--viewport-max) - var(--site--viewport-min)) *
                var(--site--viewport-min)
            )
        ) * 1rem +
        ((7 - 4) / (var(--site--viewport-max) - var(--site--viewport-min))) *
        100vw
    ),
    7 * 1rem
  );
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
    @apply text-brand-800;
  }
}

/* [data-italic-style="normal"] { } */

[data-italic-style="custom"] :is(h1, h2, h3, h4, h5, h6) em::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 150' preserveAspectRatio='none' aria-hidden='true'%3E%3Cpath stroke='%230D509F' stroke-width='0.375rem' fill='none' d='M325 18C228.7-8.3 118.5 8.3 78 21C22.4 38.4 4.6 54.6 5.6 77.6c1.4 32.4 52.2 54 142.6 63.7 c66.2 7.1 212.2 7.5 273.5-8.3c64.4-16.6 104.3-57.6 33.8-98.2C386.7-4.9 179.4-1.4 126.3 20.7'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  width: calc(100% + 20px);
  height: 1.25em;
  z-index: -1;
}

:is([data-italic-style="custom"], [data-italic-style="highlight"])
  :is(h1, h2, h3, h4, h5, h6)
  em {
  font-style: normal;
  position: relative;
  color: var(--color-brand-500);
}

[data-italic-style="custom"] :is(h1, h2, h3, h4, h5, h6) em {
  display: inline-block;
  z-index: 0;
}
